In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../data/census.csv")

In [3]:
df.columns = df.columns.str.replace(' ', '')
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [4]:
df_train, df_test = train_test_split(df, test_size=0.20)
df_train.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
19976,26,Private,396482,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,48,United-States,<=50K
28532,52,Private,302847,11th,7,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
22971,53,Private,95519,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
15218,30,Private,144064,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,62,United-States,<=50K
871,24,Private,121313,Some-college,10,Never-married,Transport-moving,Own-child,White,Male,0,0,50,United-States,<=50K

In [28]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [5]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [30]:
df_train.shape, df_test.shape

((26048, 15), (6513, 15))