In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [23]:
df = pd.read_csv("../data/census.csv")

In [26]:
df.columns = df.columns.str.replace(' ', '')
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [27]:
df_train, df_test = train_test_split(df, test_size=0.20)
df_train.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7778,25,Private,102460,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
30150,22,Private,210781,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,35,United-States,<=50K
23968,42,Private,183241,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,45,United-States,>50K
249,45,Private,153141,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,?,<=50K
9136,35,Private,126569,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,4064,0,40,United-States,<=50K

In [28]:
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [29]:
df['salary']

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: salary, Length: 32561, dtype: object

In [30]:
df_train.shape, df_test.shape

((26048, 15), (6513, 15))